{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "ignorePatterns": ["/build", "/tests", "node_modules"],
  "rules": {
    "no-console": "warn",
    "curly": ["error", "multi-line"],
    "quotes": [
      "error",
      "single",
      { "avoidEscape": true, "allowTemplateLiterals": true }
    ],
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "semi-spacing": ["error", { "before": false, "after": true }],
    "space-in-parens": ["error", "never"],
    "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 0 }]
  }
}
