version: '3.1'

services:
  api-test:
    restart: always
    container_name: api-test
    command: "tail -F someFile" # keep container running
    build:
      context: ./
      target: dev-bind
    environment:
      - ENV=DEVELOPMENT
      - PORT=5000
      - DATABASE_URL=postgresql://admin:123@psql-test-db:5432/service
      - REDIS_URL=redis://redis-test
    volumes:
      - .:/app
    ports:
      - 7000:7000
    networks:
      - app-test-network
    depends_on:
      - adminer-test
  psql-test-db:
    container_name: postgres-test
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: service
    expose:
      - 5432
    volumes:
      - db-test-volume:/var/lib/postgresql/data
    networks:
      - app-test-network

  redis-test:
    container_name: redis-test
    image: redis:7.0-alpine
    restart: always
    ports:
      - 6379
    networks:
      - app-test-network
  adminer-test:
    container_name: adminer-test
    image: adminer
    restart: always
    ports:
      - 8081:8081
    networks:
      - app-test-network
    depends_on:
      - psql-test-db

networks:
  app-test-network:


volumes:
  db-test-volume:
  redis-test-volume:
